# Change this file from '.env.example' name to `.env` and fill in your keys.
# Never commit `.env`.
OPENAI_API_KEY=<your open api key  https://platform.openai.com/api-keys>
GROQ_API_KEY=<your groq api key get here https://console.groq.com/keys>